<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <header>
      <img
        src="https://source.unsplash.com/random/500x200"
        alt="profil-cover"
        width="600"
        height="200"
        class="profil__cover"
      />
      <img
        src="https://source.unsplash.com/random/200x200"
        alt="profile picture"
        width="100"
        height="100"
        class="profil__picture"
      />
      <button class="profil__bookmark">
        <img
          src="../../img/bookmark-48x48.svg"
          alt="bookmark"
          height="20"
          width="20"
        />
      </button>
      <button class="profil__inbox">
        <img
          src="../../img/letter-48-48.svg"
          alt="inbox"
          height="20"
          width="20"
        />
      </button>
      <h1>Jane Doe</h1>
      <p>City</p>
      <p>My Hobbies</p>
      <nav>
        <button>2,324 Followers</button>
        <button>863 Following</button>
        <button>Edit Profile</button>
      </nav>
    </header>
  </body>
</html>
