<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>

<header>
  <section class="home-top__container--small mlr-5">
    <h2>Good Morning, Alex</h2>
    <img src="../../img/white-mail-icon-22.jpg" alt="inbox" width="30" height="30" class="home-top__inbox"/>
  </section>
  <section class="home-top__container--big ml-5 mr-0">
    <div class="home-top__ignore-elements">
      <img src="https://source.unsplash.com/random/150x200" alt="" class="home-top__img--large">
      <img src="https://source.unsplash.com/random/50x50" alt="" class="home-top__img--small">
    </div>  
    <div class="home-top__ignore-elements">
      <img src="https://source.unsplash.com/random/150x200" alt="" class="home-top__img--large">
      <img src="https://source.unsplash.com/random/50x50" alt="" class="home-top__img--small">
    </div>  
    <div class="home-top__ignore-elements">
      <img src="https://source.unsplash.com/random/150x200" alt="" class="home-top__img--large">
      <img src="https://source.unsplash.com/random/50x50" alt="" class="home-top__img--small">
    </div>  
    <div class="home-top__ignore-elements">
      <img src="https://source.unsplash.com/random/150x200" alt="" class="home-top__img--large">
      <img src="https://source.unsplash.com/random/50x50" alt="" class="home-top__img--small">
    </div>  
  <section>
</header>
