<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav-Bar</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body></body>
</html>
<body class="test">
  <p class="filler">
    <!--replace with page content-->
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus in deserunt amet repellendus modi numquam soluta
    aliquam tempora debitis! Sapiente sequi magni reiciendis architecto fugiat ullam recusandae deleniti, excepturi
    beatae. Adipisci sint reprehenderit expedita laboriosam voluptatibus rerum inventore quas. Aliquid non molestiae
    numquam! Numquam omnis minima modi facilis molestias corporis asperiores hic, natus eum quaerat, totam libero atque
    facere voluptate. Hic at doloribus ipsa labore nihil sequi dolore nostrum tempore iure debitis quia, harum
    asperiores commodi nemo praesentium fugit, accusantium corporis vitae nesciunt magnam nam adipisci quas? Cum, nemo
    modi! Minima, facere? Ex corporis fugit magni accusamus optio praesentium iure quod odio non sapiente! Tempore minus
    voluptatibus rerum molestiae excepturi, eos iure totam debitis temporibus voluptate consectetur eaque ea maiores?
    Vero autem eum magni quis, sequi earum repellendus quasi debitis eius alias molestiae temporibus quibusdam.
    Obcaecati omnis esse dolor eius eaque, sapiente necessitatibus culpa. Placeat, dicta? Libero perferendis
    exercitationem commodi? Dolor numquam veniam cumque porro optio voluptates harum, inventore adipisci dolorum
    assumenda nemo similique cum! Placeat, et quisquam. Quasi, sint nisi. In praesentium corporis aperiam animi totam.
    Dolorem, maiores non. Accusamus magni qui voluptatibus nobis maiores dignissimos, hic, ullam sequi aspernatur
    tenetur dolorem quis, aperiam voluptatum porro minus pariatur eveniet fuga ut esse quaerat odio enim eaque.
    Corporis, qui atque? Unde at corrupti saepe fugit, possimus, adipisci repudiandae autem ipsam, neque cum molestias
    aliquam ipsa molestiae suscipit aut. A dicta quas itaque incidunt unde inventore porro vitae placeat, laborum eius?
    Obcaecati ratione earum, incidunt enim error praesentium natus recusandae ducimus quibusdam corrupti aperiam vel
    assumenda, eos mollitia provident laboriosam sit iusto rem minus ex officia distinctio. Deserunt minima obcaecati
    tempora? Laboriosam blanditiis ratione eum corrupti nihil! Necessitatibus voluptatibus deserunt atque harum illo
    asperiores deleniti minima cum vitae maxime, ratione veritatis autem quia reprehenderit excepturi suscipit officia
    quas doloremque cumque molestiae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, laboriosam. Culpa
    exercitationem doloremque, quam, quidem distinctio temporibus iure deserunt, commodi doloribus ad eveniet quasi ut
    aliquam. Libero nam eius pariatur. Fuga recusandae aperiam quo porro suscipit! Eos ipsa sint harum voluptate eaque,
    inventore ratione dolorem atque vero necessitatibus recusandae corrupti ipsam quam tempora obcaecati illo a
    laboriosam neque. Harum, dolorem? Quia doloribus dolores ad odit deserunt voluptate iste hic doloremque rerum velit
    corrupti accusamus, excepturi nobis itaque sunt possimus, perferendis enim sit quos totam eligendi, cum veritatis
    commodi eaque! Ab! Numquam reiciendis quisquam ut minima quas, ratione harum maxime laudantium nihil reprehenderit
    pariatur deleniti ea. Error praesentium corrupti quo at sequi assumenda hic ut, ullam illum exercitationem sunt
    temporibus suscipit? Et corrupti repellat voluptates neque? Unde animi pariatur explicabo sint est, atque a enim
    laborum nesciunt ullam perspiciatis totam molestias repellat asperiores culpa commodi? Cumque minima autem illo
    nulla ab. Iusto dolor velit, rem optio et adipisci ratione neque nobis beatae fugit voluptatibus quia nam excepturi
    fugiat eos aspernatur libero qui odio. Hic cum consequatur deleniti error quo incidunt ex! Repudiandae velit maxime
    sed, illo natus atque nemo molestias veritatis. At eos aliquid aut facere, cumque enim totam quae unde laborum et
    ratione eligendi quibusdam beatae accusantium consectetur vero distinctio! Iure magni necessitatibus non cumque eos
    dignissimos, sunt blanditiis ipsum maxime hic quo itaque? Necessitatibus, omnis distinctio veniam quia illo labore
    cumque voluptate saepe, temporibus eos placeat! Veritatis, distinctio earum! Voluptate nihil nesciunt corrupti natus
    vitae facilis eos dolor expedita iure? Neque molestias tempore a, cupiditate consequuntur veniam repellendus
    reiciendis nisi quisquam repellat, odio explicabo sed corrupti laudantium deleniti enim. Ad inventore ducimus
    consectetur quasi molestias, harum sed, voluptatibus a explicabo reprehenderit dolor, animi doloribus quam. Eveniet
    impedit recusandae sequi totam, molestias repellat a saepe quod ipsum, ratione iusto error?
  </p>
  <nav class="nav__grid">
    <a href="#" class="nav__icons">
      <img src="../../img/home-5-48.png" alt="home" width="20" height="20" class="nav--active" />
      <!-- switch to nav__img and put nav--active for the one you want highlighted  -->
    </a>
    <a href="#" class="nav__icons">
      <img src="../../img/search-12-16.png" alt="search" width="20" height="20" class="nav__img"
    /></a>
    <a href="#" class="nav__icons">
      <img src="../../img/plus-8-64.png" alt="add" width="20" height="20" class="nav__img--plus"
    /></a>
    <a href="#" class="nav__icons">
      <img src="../../img/appointment-reminders-64.png" alt="notifications" width="20" height="20" class="nav__img"
    /></a>
    <a href="#" class="nav__icons">
      <img src="../../img/user-6-64.png" alt="profile" width="20" height="20" class="nav__img"
    /></a>
  </nav>
</body>
