<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <article class="post__grid--head">
    <img
      class="post__img"
      src="https://source.unsplash.com/random/200x200"
      alt="profile picture"
      width="40"
      height="40"
    />
    <h2 class="post__name">Name</h2>
    <p class="post__time">time post</p>
    <button class="post__button-more">
      <img src="../../img/ellipsis-v-solid.svg" alt="" width="10" height="20" />
    </button>
  </article>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum porro
    blanditiis a tempora! Dolores optio fugit, libero laboriosam nesciunt,
    minima esse sed perferendis possimus nam facilis, error corporis fugiat
    facere?
  </p>
  <nav class="post__grid--nav">
    <button class="post__button--nav">
      <figure class="post__icon">
        <img src="../../img/align-center-solid.svg" alt="like" width="20" height="20" />
        <figcaption>12.863</figcaption>
      </figure>
    </button>
    <button class="post__button--nav">
      <figure class="post__icon">
        <img src="../../img/home-solid.svg" alt="comment" width="20" height="20"/>
        <figcaption>654</figcaption>
      </figure>
    </button>
    <button class="post__button--nav">
      <figure class="post__icon">
        <img src="../../img/user-circle-solid.svg" alt="share" width="20" height="20" />
        <figcaption>53</figcaption>
      </figure>
    </button class="post__button--nav">
    <button class="post__bookmark"><img src="../../img/bookmark-regular.svg" alt="bookmark" width="20" height="20" /></button>
  </nav>
</html>
