<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <input
      type="text"
      placeholder="search for people, posts and tags..."
      class="search-top--input"
    />

    <h2 class="search-top__heading">popular</h2>
    <nav class="search-top__container">
      <button class="search-top__button search-top__button--active">all</button>
      <button class="search-top__button">profiles</button>
      <button class="search-top__button">photos</button>
      <button class="search-top__button">video</button>
      <button class="search-top__button">text</button>
      <button class="search-top__button">links</button>
    </nav>
  </body>
</html>
