:root {
  --color-dark-gray: rgb(20, 20, 20);
  --color-gray: rgb(116, 116, 116);
  --color-white: white;
  --color-black: black;
  --color-purple: rgb(204, 15, 188);
  --color-blue: rgb(15, 178, 233);
}
